# --- General & Environment Variables ---
.env
.env.*
!.env.example

# --- Dependencies & Build (Node/JS) ---
node_modules
dist
dist-ssr
*.local

# --- Python & Virtual Environments ---
# Virtual Environments (Common names)
venv/
.venv/
env/
.env/
virt/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg

# Jupyter Notebooks (if applicable)
.ipynb_checkpoints

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pip-log.txt

# --- Manual / Temporary Files ---
dir-Tree.ps1
dir-tree.txt
tree.txt

# --- Editor & OS Files ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?